# BCI keyboard project – main dependencies
psychopy
numpy
scipy
mne
brainflow

# For training (if brainda is installed from PyPI)
# brainda

# If you use the local brainda folder instead, from project root run:
#   pip install -e ./brainda
